<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>music fire 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>189CED9C1E71EA8400A2217E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189CEDB01E71EA8500A2217E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189CEDBB1E71EA8500A2217E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
